<div class="order-form-component">
  <h2>Editing Order</h2>

  <%= render 'form', order: @order %>

  <%= link_to 'Show', user_order_path(current_user,@order) %> |
  <%= link_to 'Back', user_orders_path %>
</div>
